<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="checkBoxResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkBoxTransparentKeyPassthrough" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HRes" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="VRes" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="CitrixLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Citrix\ICA Client\wfcrun32.exe</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
</configuration>